/* canvas */
.canvas {
    display: grid;
    grid-column: span 8;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem 1rem;
    h1 {
        font-size: 1.5rem;
    }
}
.canvas-message {
    grid-column: 2 / 10;
}
.canvas-features {
    grid-column-start: 10;
    grid-column-end: 13;
    button {
        width: 80%;
        margin: 0 auto 1rem auto;
    }
}

.entry-meta-data {
    grid-column: span 9;
    margin-bottom: 1rem;
    font-weight: 100;
}