body {
	font-family: 'Work Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
}

p, li {
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: .5rem;
}

